<!DOCTYPE html>
<html lang="en" th:replace="~{layout/layout :: layout (~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
    <main role="main">
        <div class="container mt-5">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user: ${userList}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.password}"></td>
                    <td><a th:href="@{/user/edit/{id}(id=${user.id})}">Edit</a></td>
                    <td><a th:href="@{/user/delete/{id}(id=${user.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>

            <a href="#" th:href="@{/user}" class="btn btn-success">New User</a>
        </div>
    </main>
</body>
</html>