<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<body>

<div class="logo" th:fragment="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container" style="margin-left: 10px;">
            <i class="bx menu-icon fa-solid fa-bars"></i>
            <a class="navbar-brand logo-name" th:href="@{/user/home}">Book Store</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <!--<li class="nav-item"><a class="nav-link" th:href="@{/role}">New Role</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/role/list}">Role List</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/user/list}">User List</a></li>-->

                    <li class="nav-item"><a class="nav-link" th:href="@{/authors/new}">New Author</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/authors}">Authors</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/books/new}">New Book</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/books}">Books</a></li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item" sec:authorize="!isAuthenticated()">
                        <a class="nav-link" th:href="@{/user/register}"
                           style="color: lightgreen;">Register</a>
                    </li>
                    <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                        <!--
                          <a class="nav-link" href="#" role="button" id="profile-dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" sec:authentication="name"></a>
                        -->
                        <img role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:src="@{/images/profile.jpg}" alt="" style="width: 40px; height: 40px; border-radius: 50%; display: flex; justify-content: center; align-items: center; color: white; font-size: 16px; font-weight: bold; cursor: pointer;">
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profile-dropdown-toggle">
                            <a class="dropdown-item" th:href="@{/user/profile}">Profile</a>
                            <a class="dropdown-item" th:href="@{/logout}" style="color: tomato;">Sign out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


</body>
</html>