<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns="http://www.w3.org/1999/html">
<body>

<div class="sidebar" th:fragment="sidebar">
    <div class="logo">
        <i class="bx menu-icon fa-solid fa-bars"></i>
        <span class="logo-name">Book Store</span>
    </div>
    <div class="sidebar-content">
        <ul class="lists">
            <li class="list">
                <a href="#" class="nav-link">
                    <i class="bx bx-home-alt icon"></i>
                    <span class="link">Dashboard</span>
                </a>
            </li>
            <li class="list">
                <a href="#" class="nav-link">
                    <i class="bx bx-bell icon"></i>
                    <span class="link">Notifications</span>
                </a>
            </li>
            <li class="list">
                <a href="#" class="nav-link">
                    <i class="bx bx-message-rounded icon"></i>
                    <span class="link">Messages</span>
                </a>
            </li>
            <li class="list">
                <a href="#" class="nav-link">
                    <i class="bx bx-pie-chart-alt-2 icon"></i>
                    <span class="link">Analytics</span>
                </a>
            </li>
            <li class="list">
                <a href="#" class="nav-link">
                    <i class="bx bx-heart icon"></i>
                    <span class="link">Likes</span>
                </a>
            </li>
            <li class="list">
                <a href="#" class="nav-link">
                    <i class="bx bx-folder-open icon"></i>
                    <span class="link">Files</span>
                </a>
            </li>
        </ul>

        <div class="bottom-content">
            <li class="list">
                <a href="#" class="nav-link">
                    <i class="bx bx-cog icon"></i>
                    <span class="link">Settings</span>
                </a>
            </li>
            <li class="list">
                <a href="#" class="nav-link">
                    <i class="bx bx-log-out icon"></i>
                    <span class="link">Logout</span>
                </a>
            </li>
            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>
        </div>
    </div>
</div>

</body>
</html>